{% extends "layout.html" %}

{% block body %}
  <div class="flex-container">
    <div class="container-left flex-elem">
      <h2 class="chapter-name">Список Шендлера или как там его</h2>
      <div class="pre-chapter">
        <h4 class="prolog">Пролог:</h4>
        <p class="prolog-text">Бороться и искать, найти и не сдаваться</p>
        <div class="prolog-source">Из книги "Два капитана"</div>
      </div>
      <div class="chapter-text">
        <p>
          В городе, Коннор стал свидетелем заговора тамплиеров,
          которые хотели развязать войну Америки и Британии.
          Он увидел как зародилась революция,
          когда солдаты начали расстреливать мирных жителей.
          Среди тамплиеров Коннор увидел и своего отца Хэйтема,
          который приказал схватить ассасина.
          После побега от солдат и своего первого испытания,
          герой получил от Ахиллеса скрытый клинок.
        </p>
        <p>
          Последующие годы обучения Коннора прошли в помощи невинным людям,
          которым он предлагал поселиться у поместья учителя.
          Так вокруг поместья Дэвенпорта образовалась небольшая община.
          По мимо этого Коннор взялся за восстановление судна "Аквила",
          севшего на мель. После восстановления герой научился ходить под парусом и стрелять из пушек.
        </p>
      </div>
      <div class="other-info"></div>
    </div>
    <div class="container-right flex-elem">
      <h2>Результаты поиска:</h2>
      {% for book in books %}
        <div class="view-block">
          <a href="{{ url_for('book', book_id=book.id) }}">{{ book.title }}, {{ book.author }}, {{ book.year }}</a>
        </div>
      {% else %}
        <div class="else-view-block">
          <p>По твоим соображениям ничего не найдено</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
