{% extends "layout.html" %}

{% block body %}
  <div class="flex-container">
    <div class="container-left flex-elem">
      <h2 class="chapter-name">The Начало</h2>
      <div class="pre-chapter">
        <h4 class="prolog">Пролог:</h4>
        <p class="prolog-text">Скажу честно. Я железный человек</p>
        <div class="prolog-source">Из х/ф "Железный человек"</div>
      </div>
      <div class="chapter-text">
        <p>
          Дарова, {{ username }}!
          Ты искал хорошую библиотеку и зашел сюда - в чЁткую библиотеку.
          Здесь не любят книги и не любят тех, кто любит книги.
          Уйти или остаться - решать тебе.
          Выбирай на свой страх и риск
        </p>
        <p> Можешь приступать к порче книг хоть щас</p>
        <p>Только не забывай о правилах:</p>
        <p>1) Не рассказывай о нас родителям</p>
        <p>2) Если один раз вошел на сайт, то, не испортив хотя бы 1 книгу, ты не можешь выйти</p>
      </div>
      <div class="other-info"></div>
    </div>
    <div class="container-right flex-elem">
      <h2>Твоя активность:</h2>
      {% for book in doesYet %}
        <div class="view-block">
          <a href="{{ url_for('book', book_id=book.id) }}">{{ book.name }}</a>
        </div>
      {% else %}
        <div class="else-view-block">
          <p>По твоим соображениям ничего не найдено</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
