{% extends "layout.html" %}

{% block nav %}
  <div class="navigation clearfix">
    <div class="fornav">
      <span class="inblock" style="display: none;"><a class="white" href="{{ url_for('index') }}">На главную</a></span>
    </div>
    <div class="forlogout">
      <a class="right" href="{{ url_for('logout') }}">Выйти</a>
    </div>
  </div>
{% endblock %}

{% block body %}
  <br><br><br>
  <div class="container clearfix">
    <div class="leftcontent">
      <div class="quote">
        <p>Пролог:</p>
        <p class="i">
          Скажу честно. Я железный человек
          <br>
          <span class="original">Из х/ф "Железный человек"</span>
        </p>
        <br><br>
      </div>
      <h2 class="glava">The начало</h2>
      <br>
      <p>Дарова, {{ username }}!<br> Можешь смело приступать к порче книг.</p>
      <p>Только не забывай о правилах:</p>
      <p>1) Не рассказывай о нас родителям</p>
      <p>2) Если один раз вошел на сайт, то, не испортив хотя бы 1 книгу, ты не можешь выйти</p>
    </div>
    <div class="rightcontent">
      <h2 class="glava">Твои работы:</h2>
      <br>
      {% for book in isDoYet %}
        <div class="work">
          <span class="inwork"><a href="{{ url_for('book', book_id=book.id) }}">{{ book.name }}</a></span>
        </div>
      {% else %}
        <div class="glava">
          <p class="inwork">Тебе пока нечем гордиться</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
