{% extends "layout.html" %}

{% block body %}
  <div class="flex-container">
    <div class="container-left flex-elem">
      <h2 class="chapter-name">Предисловие</h2>
      <div class="pre-chapter">
        <h4 class="prolog"></h4>
        <p class="prolog-text"></p>
        <div class="prolog-source"></div>
      </div>
      <div class="chapter-text">
        <p>Ассаламу 1алайкум! Вашему вниманию представлен проект в рамках обучения по курсу "Web Programming с Python и JavaScript" в ГГНТУ.</p>
        <p>Проект направлен на закрепление полученныхв в ходе прохождения курса знаний и достижение необходимых умений и навыков</p>
        <p>На данном сайте вы можете найти интересующую вас известную книгу (количество книг ограничено) и комментарии и оценки к ней. А также оставлять свои комментарии и оценки</p>
        <h4>Добро пожаловать!</h4>
      </div>
      <div class="other-info"></div>
    </div>
    <div class="container-right flex-elem">
      <h2>Войти:</h2>
      <form class="form-horizontal" action="{{ url_for('login') }}" method="post">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Погоняло:</label>
          <div class="col-sm-10">
            <input type="text" name="username" class="form-control" id="inputEmail3" placeholder="Например: Ali">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Пароль:</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Например: Ali">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Открыть дверь ногой</button>
          </div>
        </div>
      </form>
      <p>Если ты здесь первый раз, знай, что у нас с правилами строго. Придется <a href="{{ url_for('registration') }}">зарегистрироваться</a></p>
    </div>
  </div>
{% endblock %}
