{% block nav %}
<div class="navigation clearfix">
  <div class="fornav">
    <span class="inblock"><a class="white" href="{{ url_for('index') }}">На главную</a></span>
  </div>
  <div class="forlogout">
    <a class="right" href="{{ url_for('logout') }}">Выйти</a>
  </div>
</div>
{% endblock %}

<div class="container clearfix">
  <div class="leftcontent">
    <div class="quote">
      <p>Пролог:</p>
      <p class="i">
        <br>
        <span class="original"></span>
      </p>
      <br><br>
    </div>
    <h2 class="glava"></h2>
    <br>
    <p></p>
  </div>
  <div class="rightcontent">

  </div>
</div>
